[mysql]
port            = 3306
socket          = /var/run/mysqld/mysqld.sock
default-character-set=utf8mb4

[mysqld_safe]
pid-file        = /var/run/mysqld/mysqld.pid
socket          = /var/run/mysqld/mysqld.sock
nice            = 0

[mysqld]
user            = mysql
pid-file        = /var/run/mysqld/mysqld.pid
socket          = /var/run/mysqld/mysqld.sock
port            = 3306
datadir         = /var/lib/mysql
tmpdir          = /tmp
lc-messages-dir = /usr/share/mysql

# Recommended in standard MySQL setup
sql_mode=NO_ENGINE_SUBSTITUTION

# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0

# Disabling LOAD DATA INFILE
local-infile=0

# INNODB parameters
innodb_buffer_pool_size = 350M
innodb_log_buffer_size=1M
innodb_log_file_size = 32M

innodb_flush_log_at_trx_commit=0
innodb_flush_method=O_DIRECT
innodb_file_per_table
innodb_doublewrite = 0

table_open_cache = 1024
#thread_cache_size = 16

tmp_table_size = 32M
max_heap_table_size = 32M

key_buffer_size         = 8M

query_cache_limit       = 1M
query_cache_size        = 2M
query_cache_type = 1

skip-external-locking

slow_query_log = OFF
long_query_time = 1

default_time_zone='+00:00'
character-set-server = utf8mb4
collation-server = utf8_general_ci
collation-server = utf8mb4_unicode_520_ci
